
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorAuthLogin</title>
</head>
<body>
    <div>
        Erreur dans le processus d'authentification depuis sharepoint
    </div>
</body>
</html>
