<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script data-main="annuaire/main" src="@Url.Content("~/Assets/Libs/require/require.js")"></script>

<div class="search-criteria">
    <form role="form">
        <div class="row">
            <div class="col-md-5 bottom-5">
                <input type="text" class="form-control" data-bind="addressAutocomplete: lieu" />
            </div>
            <div class="col-md-5 bottom-5">
                <select class="form-control" data-bind="options: listSpecialite,  optionsText: 'label', optionsValue: 'id',value: selectedSpec ,optionsCaption: 'Spécialité...'"></select>
            </div>
            <div class="col-md-2 bottom-5">
                <button class="btn btn-primary" data-bind="click: _onSearch"><span class="glyphicon glyphicon-search"></span>&nbsp;Trouver</button>
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-12">
                <label for="search-byname" class="checkbox-inline">
                    <input type="checkbox" class="custom-checkbox" id="search-byname" data-bind="checked: sortByName" />
                    Trier par nom
                </label>
                <label for="search-sector1" class="checkbox-inline">
                    <input type="checkbox" class="custom-checkbox" id="search-sector1" data-bind="checked: sortBySector1" />
                    Médecin secteur 1
                </label>
            </div>
        </div>
    </form>
</div>

<div id="result-wrapper">
    <div class="result-zone">
        <div class="result-header">
            <div class="practicien-zone" data-bind="foreach: { data: listPracticien, as: 'practicien' }">
                <div class="practicien-header clearfix top-10 hvr-glow" data-bind="css: { isNearOf: practicien.distance == 0 }">
                    <div class="practicien-header-infos row">
                        <div class="practicien-icon col-md-1"></div>
                        <div class="col-md-4 bold" data-bind="text: practicien.nom + ' - '+ practicien.prenom"></div>
                        <div class="col-md-4" data-bind="text: practicien.specialite"></div>
                        <div class="col-md-2 pull-right" data-bind="text: practicien.distance + ' km', visible: practicien.distance > 0"></div>
                    </div>
                    <div class="practicien-content" data-bind="css: { isNearOf: practicien.distance == 0 }">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-1" data-bind="text: 'Tarification ' + practicien.sectTarifaire"></div>
                        </div>
                        <div class="row top-5">
                            <div class="col-md-4 col-md-offset-1" data-bind="text: practicien.nomVille + ' - ' + practicien.cp"></div>
                            <div class="col-md-5" data-bind="text: practicien.adresse"></div>
                            <div class="col-md-2" data-bind="visible: practicien.acceptCarteVitale">Carte vitale</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>