@{
    ViewBag.Title = "Recherche";
}

<script data-main="annuaire/main" src="@Url.Content("~/Assets/Libs/require/require.js")"></script>

<div class="search-criteria">
    <form role="form">
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Saisir un lieu de recherche" />
            </div>
            <div class="col-md-5">
                <select class="form-control form-select">
                    <option value="10">Dermatologue</option>
                    <option value="21">Ophtalmologue</option>
                    <option value="22">ORL</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Trouver</button>
            </div>
        </div>
        <div class="row top-10">
            <div class="col-md-3">
                <label for="search-byname" class="checkbox-inline">
                    <input type="checkbox" id="search-byname" />
                    Trier par nom
                </label>
            </div>
            <div class="col-md-3">
                <label for="search-bysector" class="checkbox-inline">
                    <input type="checkbox" id="search-bysector" />
                    Médecin secteur 1
                </label>
            </div>
        </div>
    </form>
</div>

<div id="result-wrapper">
    <div class="result-zone">
        <div class="result-header">
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 1 </p>
                        <p>Prénom 1</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>8 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 2 </p>
                        <p>Prénom 2</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>5 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 3 </p>
                        <p>Prénom 3</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>2 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>  
            <div class="traitement-zone">
                <div class="traitement-header stripes clearfix">
                    <div class="traitement-header-data">
                        <p>Nom 4 </p>
                        <p>Prénom 4</p>
                    </div>
                    <div class="traitement-header-sign">
                        <span>10 km</span>
                    </div>
                    <div class="traitement-header-count">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>